html,
body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding-bottom: 2%;
}

ul {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

li {
  list-style: none;
  margin-right: 1%;
}

a {
  text-decoration: none;
}
